<div class="container p-2">

  <h1 style="text-align: center;font-size: 40px; color:white">Calculation of costs for Room #{{roomID}}</h1>

  <div class="row bg-light">
    <table class="table table" style="text-align: center " >
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Currency</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of roomS">
          <td>{{x.name}}</td>
          <td>{{x.value}}</td>
          <td>{{x.currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row p-5">
  </div>
  <div class="row bg-light">
  <ngx-charts-bar-vertical 
    [view]="[1000,600]"
    [results]="roomS"
    [legendTitle]="'Participants'"
    [yAxisLabel]="'Amount'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical>
</div>
  <div class="row p-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>

    <div class="col-lg-4" style="text-align: right; vertical-align: middle;">
      <button (click)="homeNavigation()" type="button" class="btn btn-info btn-lg">Home </button>
    </div>

  </div>

</div>
